<div class="container" style="text-align: center;">
  <div class="col">
    <h1>{{title}}</h1>
  </div>

  <form class="form-group row mt-4">
    <div class="form-group col-md-3">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Nombre" [(ngModel)]="cuadroNombre">
    </div>
    <div class="form-group col-md-3">
      <label for="apellido">Apellido:</label>
      <input type="text" name="apellido" class="form-control" id="apellido" placeholder="Apellido" [(ngModel)]="cuadroApellido">
    </div>
    <div class="form-group col-md-3">
      <label for="cargo">Cargo:</label>
      <input type="text" name="cargo" class="form-control" id="cargo" placeholder="Cargo" [(ngModel)]="cuadroCargo">
    </div>
    <div class="form-group col-md-3">
      <label for="edad">Edad:</label>
      <input type="text" name="edad" class="form-control" id="edad" placeholder="Edad" [(ngModel)]="cuadroEdad">
    </div>
    <div class="form-group col-md-3">
      <label for="contratado">Contratado:</label>
      <input type="text" name="contratado" class="form-control" id="contratado" placeholder="Contratado" [(ngModel)]="cuadroContratado">
    </div>
    <div class="form-group col-md-3 align-self-end">
      <button type="submit" class="btn btn-success" (click)="agregarEmpleado()" style="padding: 4px 8px;">Agregar Empleado</button>
    </div>

  </form>
</div>

<br>

<div class="container">
  <div class="row">
    <table class="table table-bordered table-hover mt-4">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>Cargo</th>
          <th>Contratado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of empleados; index as i">
          <td>{{i + 1}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.apellido}}</td>
          <td>{{item.edad}}</td>
          <td>{{item.cargo}}</td>
          <td>
            <span [ngClass]="{'text-success': item.contratado, 'text-danger': !item.contratado}">
              {{item.contratado ? 'Sí' : 'No'}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
